.sticky {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: #083AA9 !important;
}
.sb-header{
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #bbb;
}
.rct-outer {
  display: block !important;
  // overflow-y: scroll !important;
  max-height: 42rem !important;
  white-space: nowrap !important;
}

.react-calendar-timeline {
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid #bbb;
  color: #4A5974;
  .rct-dateHeader {
    border-right: none;
    border-bottom: none;
    border-left: 1px solid #bbb;
    background-color: #F4F6F8;
  }
  .rct-horizontal-lines {
    .rct-hl-odd {
      background: #F4F6F8;
      margin-left: 1px;
    }
    .rct-hl-even, .rct-hl-odd{
      border: none;
    }
  }
  .rct-vertical-lines {
    .rct-vl {
      position: absolute;
      border-left: 1.6px solid rgba($color: #000000, $alpha: 0.05) !important;
      z-index: 30;
      &.rct-vl-first {
        border-left-width: 2px;
      }
    }
  }
  .rct-sidebar {
    .rct-sidebar-row {
      border: none;
      text-align: center;
      &.rct-sidebar-row-odd {
        background-color: #F4F6F8;
        border: none;
      }
    }
  }
  .rct-dateHeader-primary{
    background-color: #083AA9;
  }
  .rct-calendar-header{
    border: none;
    text-align: center;
    background-color: #f7f7f7;
    border-top-right-radius: 10px;
    :last-child {
      div{
        border-left: 1px solid #bbb;
        height: 30px;
      }
    }
  }
}
.react-calendar-timeline .rct-calendar-header :last-child div {
  border-left: 1px solid rgba($color: #000000, $alpha: 0.1) !important;
  font-size: 1.4rem;
  vertical-align: center;
  line-height: 3rem;
}

.rct-day-6, .rct-day-0{
  background: transparent !important;
}
.rct-item-work {
  height: 30px !important;
  line-height: 30px !important;
  border-radius: 30px;
  padding-left: 10px;
  border: none !important;
  background-color: #1aa8e9 !important;
  text-overflow: ellipsis;
  &:hover {
    background-color: #34dec7 !important;
  }
}

.rct-item-free {
  height: 30px !important;
  line-height: 30px !important;
  border-radius: 30px;
  padding-left: 10px;
  border: 2px dashed rgba($color: #1aa8e9, $alpha: 1) !important;
  background-color: transparent !important;
  color: #1aa8e9 !important;
  overflow: hidden;

}
.rct-item-content {
    overflow: hidden !important;
    max-width: 100%;
    position: sticky;
    position: -webkit-sticky;
    left: 0px;
    display: inline-block;
    border-radius: 2px;
    padding: 0 6px;
    height: 100%;
}
.rct-outer {
  max-height: 40rem !important;
  overflow-y: scroll !important;
  overflow-x: hidden !important;
}
.rct-scroll {
  overflow-x: hidden !important;
}
